aside {
	position: fixed;
	inset: 71px 0 0 0;
	transition: all 0.3s ease-in-out;
	z-index: 6000;
}

aside .container {
	height: 100%;
}

aside[data-visible="false"] {
	transform: translateX(-100%);
}

@media (min-width: 768px) {
	aside {
		width: min(30vw, 30rem);
	}
}
