.add-note {
	display: none;
	position: fixed;
	inset: 0 0 0 0;
	z-index: 7000;
	transition: all 0.3s ease-in;
}

.add-note .container {
	width: min(250px, 50vw);
	position: relative;
}

.add-note .container .icon {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	z-index: 8000;
}

.add-note[data-visible="true"] {
	display: flex;
}
