@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("/src/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Unbounded";
	src: url("/src/assets/fonts/Unbounded/Unbounded-Regular.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Unbounded";
	src: url("/src/assets/fonts/Unbounded/Unbounded-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
