nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	padding: min(30vh, 10rem) 5rem;
	transform: translateX(-100%);
}

.hamburger {
	z-index: 5000;
}

nav[data-visible="true"] {
	transform: translateX(0%);
}

.primary-navigation {
	flex-direction: column;
}
